
/*table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 0px solid #ddd;
}*/
  
/*th,
td {
    text-align: left;
    padding: 8px;
}*/

/* width */        
::-webkit-scrollbar {
    width: 6px;
    border-radius: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(13, 24, 117);
    border-radius: 3px;
    height: 20px;
}

/* Handle on hover */
/*::-webkit-scrollbar-thumb:hover {
    background: #555;
}*/
.scroll{
    right: 40%;
    width: 290px;
    height: 200px;
    overflow-y:auto;
}
.intro{
    width: 290px;
    height: fit-content;
    
}
.objTitle{
    margin-bottom: 5px;
    margin-left: 1px;
}
.emoji{
    height:26px;
    width: 26px;
    margin-right: 1px;
    margin-bottom:5px;
    margin-left: 0;
    cursor:pointer;
    transition: all 0.3s ease;

    display:flex;
    justify-content: center;
    align-items: center;
}
.emoji:hover{
    background-color: #fcf6f6;
    border-radius: 3px;
}

.cont{
    display: flex;
    flex-wrap: wrap;
}

.bottom-bar{
    width: 400px;
    height: 36px;

}






